fastapi==0.109.2
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
starlette
uvicorn
pytest
requests
streamlit